
.choix{
	position: absolute;
	left: 40%;
	right: 60%;
	max-height: 80px;
}
.btn_choix{
	width: 60px;
	height: 60px;
	margin-right: 20px;
	font-size: 40px;
	border-color: transparent;
	background-color: transparent;
	color: black;
}

.btn_choix:hover{
	background-color: transparent;
	border-color: transparent;
	color: #f7941e;
}
.btn_choix .choisi{
	color: #f7941e !important;
}
.building1, .globe1{
	font-size: 40px;
	display: inline-block;
}
.globe1{
	position: absolute;
	top: 25%;
	right: 20%;
}
.retour{
	position: absolute;
	top: 40%;
	right: 5%;
	
}

.btn_retour{
	border-color: #f7941e;
	background-color: transparent; 
	color: black;
}
.btn_retour:hover{background-color: #f7941e; border-color: transparent;}